name: Dependabot Tickets

on:
  pull_request:
    branches:
      - main

jobs:
  check-dependabot-pull-requests:
    runs-on: ubuntu-latest
    name: Check for Dependabot Pull Requests
    steps:
      - name: Debug Secrets
        run: |
          echo "FOGBUGZ_API_URL=${{ secrets.FOGBUGZ_API_URL }}"
          echo "FOGBUGZ_TOKEN=${{ secrets.FOGBUGZ_API_TOKEN }}"
          echo "FOGBUGZ_PROJECT=${{ secrets.FOGBUGZ_PROJECT }}"
          echo "FOGBUGZ_CATEGORY=${{ secrets.FOGBUGZ_CATEGORY }}"
          echo "PLANVIEW_API_URL=${{ secrets.PLANVIEW_API_URL }}"
          echo "PLANVIEW_AUTH=${{ secrets.LEANKIT_AUTH }}"
          echo "PLANVIEW_BOARD_ID=${{ secrets.PLANVIEW_BOARD_ID }}"
          echo "PLANVIEW_LANE_ID=${{ secrets.PLANVIEW_LANE_ID }}"
          echo "PLANVIEW_TYPE_ID=${{ secrets.PLANVIEW_TYPE_ID }}"
      - name: Step 1
        id: step_1
        uses: ARPC/dependabot-tickets@v0.2.4
        with:
          fogbugz_api_url: ${{ secrets.FOGBUGZ_API_URL}}
          fogbugz_token: ${{ secrets.FOGBUGZ_API_TOKEN }}
          fogbugz_project: ${{ secrets.FOGBUGZ_PROJECT }}
          fogbugz_category: ${{ secrets.FOGBUGZ_CATEGORY}}
          ignore_fb_error: true
          planview_api_url: ${{ secrets.PLANVIEW_API_URL }}
          planview_auth: ${{ secrets.LEANKIT_AUTH }}
          planview_board_id: ${{ secrets.PLANVIEW_BOARD_ID }}
          planview_lane_id: ${{ secrets.PLANVIEW_LANE_ID }}
          planview_type_id: ${{ secrets.PLANVIEW_TYPE_ID }}
          users: "dependabot[bot]"
